@media screen and (max-width: 1660px) {
	
}

@media screen and (max-width: 1440px) {

	header.head .menu-block-top .change_lang{
		padding-bottom: 0.5rem;
	}
	
}

@media screen and (max-width: 1280px) {

	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-inner .carousel-caption .bxsl_tx_fcs .content h3{
		font-size: 30px;
	}
	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-inner .carousel-caption .bxsl_tx_fcs .content p{
		font-size: 14px;
	}
	
	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-inner .carousel-caption .bxsl_tx_fcs ol.carousel-indicators {
		li, li:hover, li:focus, li.active{
			width: 12px; height: 12px;
		}
	}
	section.home-sec-2 .kiri{
		p{
			font-size: 14px;
		}
		.title p{
			font-size: 25px;
		}
	}
	section.home-sec-3 .kanan p{
		font-size: 15px;
	}
	section.home-sec-3 .tengah{
		max-width: 160px;
		right: -80px;
	}
	section.home-sec-3 .kanan .button-about{
		max-width: 215px;
	}
	section.home-sec-4 .prelative.container .row .boxed .inner h4{
		margin-bottom: 10px;
		font-size: 60px;
	}
	section.home-sec-4 .prelative.container .row .boxed{
		margin-bottom: 6rem;
	}
	
}

@media screen and (max-width: 1024px) {

	header.head .menu-block-bottom ul .list-inline-item:not(:last-child){
		margin-right: 0.4rem;
	}
	header.head .menu-block-bottom ul li a{
		font-size: 12px;
	}
	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-inner .carousel-caption .bxsl_tx_fcs .content h3{
		font-size: 26px;
	}
	section.home-sec-1 .prelative.container .title p{
		font-size: 30px;
	}
	section.home-sec-1 .prelative.container .connect .connect-logo p{
		font-size: 13px;
	}
	
}

@media screen and (max-width: 980px) {
	
}

@media screen and (max-width: 767px) {

	.header-affixs{
		display: none;
	}
	header.head{
		height: auto;
		position: fixed;
		padding-top: 0;
		top: 0px; left: 0px;
		width: 100%;
		z-index: 550;
		nav.navbar{
			.navbar-brand{
				max-width: 220px;
			}
			.navbar-toggler{
				padding: 0;
				border-radius: 0px;
				border: 0px;
			}
			ul.navbar-nav{
				li{
					a{
						padding: 0.25rem 0;
						font-size: 15px;
						color: rgba(0,0,0, 0.9);
					}
				}
			}
			clear: both;
		}
		clear: both;
	}

	.carousel{
		.carousel-inner{
			.carousel-caption{
				.scroll{
					display: none;
				}
				position: relative;
				padding: 2rem 0px !important;
				background-color: #213165 !important;
			}
			.carousel-indicators{
				display: none;
			}
		}
	}

	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-caption{
		// position: relative;
		padding-bottom: 3rem;
	}
	
	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home ol.carousel-indicators{
		margin-bottom: 9px !important;
	}

	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-caption .bxsl_tx_fcs .scroll{
		display: none;
	}
	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-caption .bxsl_tx_fcs .content h3{
		font-size: 22px;
	}
	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-caption .bxsl_tx_fcs .content{
		margin-bottom: 0 !important;
	}
	.fcs-wrapper.outers_fcs_wrapper{
		// margin-top: 69px;
		margin-top: 0;
	}
	section.home-sec-1 .prelative.container .title p{
		font-size: 26px;
	}
	section.home-sec-1 .prelative.container .connect .connect-logo{
		margin-bottom: 0.5rem;
	}
	section.home-sec-3 .tengah {
	    max-width: 100%;
	    right: inherit;
	    display: block;
	    margin: 0 auto; text-align: center;
	    width: 100%;
	    img{
	    	display: block;
	    	max-width: 175px;
	    	margin: 0 auto; text-align: center;
	    }
	    z-index: 150;
	}
	
	section.home-sec-4 .prelative.container .row .boxed,
	section.home-sec-4 .prelative.container .row .subtitle{
		margin-bottom: 2rem;
	}
	section.home-sec-4 .prelative.container .row .boxed .inner h4{
		font-size: 45px;
	}
	section.home-sec-4 .prelative.container .row .formm .title p{
		font-size: 30px;
	}
	section.home-sec-4 .prelative.container .row .formm button.form-control{
		float: none;
	}
	section.home-sec-4 .prelative.container .footer .list li a{
		font-size: 12px;
	}
	
	section.home-sec-3 .kiri img,
	section.home-sec-2 .kanan img{
		height: auto;
	}
	section.home-sec-4 .prelative.container .row .formm{
		padding: 3rem 1rem;
	}
	section.home-sec-3 .kanan{
		padding: 3.5rem 15px !important;
	}
	section.home-sec-3 .kanan{
		z-index: 250;
	}


	.yellows_headBottoms{
		display: block;
		height: 69px; width: 100%;
	}
	.hero-inside-pages .caption-insides-top{
		position: relative;
		z-index: 100;
		bottom: inherit;
		left: inherit;
		padding: 2rem 15px;
	}
	.hero-inside-pages .caption-insides-top .inners h1{
		font-size: 30px;
	}
	.hero-inside-pages .caption-insides-top .inners p{
		font-size: 14px;
	}
	.content-text h2.small_title{
		font-size: 32px;
		br{
			display: none;
		}
	}
	section.backs_blue.insides_topback1 .tops_content_about.content-text p{
		font-size: 18px;
		br{
			display: none;
		}
		margin-bottom: 0;
	}
	.content-text p{
		font-size: 15px;
	}
	section.back-grey.insides_topback3 .lists_pillar_about .items .info p{
		font-size: 13px;
	}
	section.back-blues.insides_topback4 .inners.content-text h4.titles_visi{
		font-size: 38px;
	}
	.insides_topback1_qualitys .tops_content_quality h2{
		font-size: 38px;
	}
	.lists_prdcat_def .items .info h3{
		font-size: 16px;
	}
	.mod_products table.table tbody tr td{
		font-size: 12.5px;
	}
	.mod_products table.table thead tr th{
		vertical-align: middle;
		font-size: 14px;
	}
	.lists_cat_prdDetails ul .list-inline-item:not(:last-child){
		margin-bottom: 0.5rem;
	}
	.hero-inside-pages .caption-insides-top .inners{
		h1{
			font-size: 27px;
		}
		p{
			font-size: 13px;
		}
	}
	.address_text .texts p{
		font-size: 13px;
	}
	.content-text ol li, 
	.content-text ul li{
		font-size: 14px;
		padding: 0.25rem 0.55rem;
	}

}

@media screen and (max-width: 340px) {
	
}