@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rajdhani:400,400i,700,700i&display=swap");
@montserrat: "Montserrat", sans-serif;
@roboto: "Roboto", sans-serif;
@rajdhani: "Rajdhani", sans-serif;


html,
body {
  overflow-x: hidden;
  // background-color: #f6f6f6;
}

a:hover {
  text-decoration: none;
}

span, p {
  margin-bottom: 0;
  font-family: @roboto;
  font-weight: 400;
}

.container.cont-fcs {
  max-width: 100%;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: @montserrat;
  margin-bottom: 0;
}

.prelative,
.prelatife{
  position: relative;
}

.prelative.container.sliderrrr {
  max-width: 100%;
  padding: 0;
  background: #232b38;
  opacity: 0.8;
}

.prelative.container {
  max-width: 1040px;
  margin: 0 auto;
}

.prelative.container-footer {
  // max-width: 1040px;
  width: 100%;
  padding: 20px;
}

.prelative.container2 {
  max-width: 1920px;
  margin: 0 auto;
}

.prelative.container.cont-header {
  // max-width: 1836px;
  max-width: 100%;
  margin: 0 auto;
  // padding-top: 23px;
}

.header-affixs.affix-top {
  top: -1000px;
  position: fixed;
  visibility: collapse;
}

.header-affixs.affix {
  top: 0px;
  left: 0px;
  position: fixed;
  visibility: initial;
  height: 80px;
}

.header-affixs {
  // background-color: rgba(0, 146, 223, 0.95); #f37021
  background-color: #ffffff;
  width: 100%;
  z-index: 1000;
  height: 90px;
  border-bottom: 3px solid #0b2547;
  z-index: 100000;

  .lgo_web_headrs_wb {
    // padding-top: 0.5rem;
    a {
      display: block;
      max-width: 217px;
      padding-top: 16px;
    }
  }

  .icn_wa_head{
    i.fa{
      font-size: 20px;
      color: #555;
    }
    a:hover,
    a:focus{
      i.fa{
        color: #000;
      }
    }
    border-left: 1px solid #ccc;
  }
}

.menu-taffix {
  padding-top: 28px;
}

.menu-taffix ul {
  margin: 0;
  padding: 0px;
}

.menu-taffix ul li {
  padding: 0px;
  padding: 0 5px;
}

.menu-taffix ul li a {
  font-size: 16px;
  font-weight: 700;
  color: #555555;
  text-decoration: none;
  text-transform: uppercase;
}

.menu-taffix ul li.active a,
.menu-taffix ul li a:hover {
  text-decoration: none;
  color: #000000;
}

.clear {
  clear: both;
}

.prelative.container.cont-header.mx-auto .row {
  height: 110px;
}

header.head {
  // border-top: 5px solid #18965e;
  position  : absolute;
  z-index: 100;
  width: 100%;
  background: #fff;
  height: 105px;
  padding-top: 23px;

  -webkit-box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow:    4px 4px 24px 0px rgba(0, 0, 0, 0.75);
  box-shadow:         4px 4px 24px 0px rgba(0, 0, 0, 0.75);

  .menu-block-top{
    .change_lang{
      font-size: 12px;
      font-weight: 600;
      color: #9b9b9b;
      a{
        font-size: 12px;
        font-weight: 600;
        color: #9b9b9b;
      }
      a.active,
      a:hover,
      a:focus{
        text-decoration: none;
        color: #0b2547;
      }
    }
  }
  .menu-block-bottom {
    ul {
      // padding-top: 45px;
      text-align: right;
      margin: 0;
      padding-top: 5px;

      .list-inline-item:not(:last-child){
        margin-right: 35px;
      }
      li {
        padding: 0;
        a {
          font-family: @montserrat;
          font-size: 14px;
          font-weight: 600;
          color: #0b2547;
          text-transform: uppercase;
        }
      }
    }
  }

  .menu-block-top {
    .click {
      text-align: right;
    }
  }

  .image-kanan-head {
    img {
      padding-top: 15px;
    }
  }

  .image-kanan-head.icn_wa_head{
    padding-top: 1rem;
    i.fa{
      font-size: 35px;
      color: #999999;
    }
  }
  clear: both;
}

.garis-header {
  border-right: 1px solid #b2b2b2;
  height: 65px;
  top: -2px;
}

.fcs-wrapper.outers_fcs_wrapper {
  position: relative;
  z-index: 10;
  width: 100%;
  height: auto;
  height: 100%;

  #myCarousel_home {
    height: 100%;

    .carousel-inner {
      overflow: inherit;

      .carousel-item {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top right;

        img.img_fcs{
          width: 100%;
          height: 100% !important;
          display: block;
        }
      }

      clear: both;
    }



    .carousel-caption {
        left: inherit;
        right: inherit;
        width: 100%;
        bottom: 0;
        padding: 0;
        z-index: 100;

        .bxsl_tx_fcs {
          text-align: left;
          background: none;
          background-color: transparent;

          .content {
            max-width: 1020px;
            margin-bottom: 100px !important;
            margin: 0 auto;

            h3 {
              font-size: 36px;
              letter-spacing: 0.5px;
              font-weight: 700;
              color: #fff;
            }

            p {
              margin-bottom: 15px;
              font-size: 16px;
              font-weight: 400;
              color: #fff;
              line-height: 1.45;
            }
          }

          .scroll {
            height: auto;
            max-width: 715px;
            margin: 0 auto;
            background-color: #0b2547;
            padding: 0.5rem 0;
            p {
              left: -10%;
              position: relative;
              padding: 0px 0;
              font-size: 14px;
              color: #ffffff;
            }
          }
        }
      }

    ol.carousel-indicators {
      position: absolute;
      z-index: 130;
      width: 100%;
      bottom: 0px;
      margin: 0 auto;
      margin-bottom: 50px !important;

      li {
        margin: 10px 5px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #fff;
        cursor: pointer;
      }

      .active {
        background-color: transparent;
        margin: 10px 5px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 2px solid white;
      }
    }

    clear: both;
  }
}

section.home-sec-1 {
  background: url("../images/back-section-home1.jpg");
  background-repeat: repeat-x;
  min-height: 315px;
  display: flex;
  justify-content: center;
  align-items: center;

  .prelative.container {
    display: inline;

    .title {
      margin-bottom: 25px;

      p {
        font-family: @montserrat;
        font-size: 36px;
        color: white;
        font-weight: 700;
      }
    }

    .connect {
      max-width: 450px;
      margin: 0 auto;

      .connect-logo {
        background-color: #1d59aa;
        min-height: 50px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          text-decoration: none;
        }

        img {
          display: inline-block;
          margin-right: 8px;
        }

        p {
          display: inline-block;
          color: white;
          font-size: 14px;
          font-family: @montserrat;
        }
      }
    }
  }
}

section.home-sec-2 {
  min-height: 500px;

  .kanan {
    img {
      width: auto;
      height: 100%;
    }
  }

  .kiri {
    margin: 0 auto;
    max-width: 610px;
    padding: 130px 30px !important;

    .title {
      p {
        font-size: 29px;
        font-family: @montserrat;
        text-align: center;
        font-weight: 700;
        color: #0b2547;
      }
    }

    img {
      // margin: 20px 0;
      // width: 100%;
    }

    p {
      font-size: 16px;
      font-weight: 300;
      text-align: center;
      color: #505050;
    }

    .button-product {
      margin-top: 50px !important;
      background-color: #0b2547;
      min-height: 55px;
      max-width: 230px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        text-decoration: none;
        font-size: 14px;
        font-family: @montserrat;
        color: #ffffff;
        text-transform: uppercase;
        display: inline;
      }
    }
  }
}

section.home-sec-3 {
  min-height: 800px;
  position: relative;

  .tengah {
    z-index: 500;
    display: inline-block;
    position: absolute;
    // text-align: center;
    // vertical-align: middle;
    // width: 30%;
    margin: auto;
    top: 30%;
    right: -125px;
    bottom: inherit;
  }

  .kiri {
    position: relative;

    img {
      width: auto;
      height: 100%;
    }
  }

  .kanan {
    position: relative;
    z-index: 1000;

    padding: 200px 30px !important;
    max-width: 480px;
    margin: 0 auto;

    .title {
      // margin-bottom: 50px;
      position: relative;
      p {
        font-size: 29px;
        font-family: @montserrat;
        text-align: left;
        font-weight: 700;
        color: #0b2547;
      }
    }

    p {
      font-size: 17px;
      font-weight: 300;
      line-height: 1.5;
      color: #505050;
    }

    .button-about {
      margin-top: 50px !important;
      background-color: #0b2547;
      min-height: 55px;
      max-width: 230px;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        text-decoration: none;
        font-family: @montserrat;
        font-weight: 400;
        font-size: 14px;
        color: #ffffff;
        text-transform: uppercase;
        display: inline;
      }
    }
  }
}

section.home-sec-4 {
  background: url("../images/nsx_back_footers.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1460px;
  display: table;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  padding-top: 120px;

  .prelative.container {
    vertical-align: middle;
    display: table-cell;
    height: 100%;

    .row {
      max-width: 1130px;
      margin: 0 auto;

      .subtitle {
        margin-bottom: 50px;

        p {
          font-size: 11px;
          font-family: @montserrat;
          font-weight: 700;
          text-align: center;
          color: #ffffff;
        }

        h3 {
          font-family: @montserrat;
          font-size: 29px;
          font-weight: 700;
          color: #ffffff;
          text-align: center;
        }
      }

      .boxed {
        // margin: 0 auto;
        text-align: center;
        position: relative;
        margin-bottom: 120px;

        // display: inline-block;
        .inner {
          h4 {
            font-size: 72px;
            color: #96c3ff;
            font-weight: 700;
            margin-bottom: 30px;
          }

          p {
            font-size: 19px;
            color: #ffffff;
            font-weight: 700;
          }
        }
      }

      .formm {
        background-color: #e6e7e8;
        padding: 80px;

        .title {
          margin-bottom: 60px;

          p {
            font-size: 36px;
            font-family: @montserrat;
            text-align: center;
            text-transform: uppercase;
          }
        }

        form.fielddd {
          max-width: 890px;
          margin: 0 auto;

          label {
            font-size: 12px;
            color: #575757;
            font-weight: 300;
            letter-spacing: 1px;
            margin-bottom: 0;
          }
          textarea,
          input {
            background: transparent;
            width: 100%;
            border: 0;
            border-bottom: 1px solid #969696;
            border-radius: 0;
          }

          .form-control:focus {
            box-shadow: none;
          }
        }

        button.form-control {
          font-size: 14px;
          color: #ffffff;
          width: 235px;
          height: 55px;
          background: #0b2547;
          text-transform: uppercase;
          float: right;
          margin-top: 25px;
          cursor: pointer;
        }
      }
    }

    .footer {
      margin-top: 80px;
      margin-bottom: 60px;

      .title {
        text-align: center;
        color: #ffffff;
        margin-bottom: 60px;

        img {
          padding-bottom: 10px;
          max-width: 65px;
          margin: 0 auto;
        }

        h2 {
          padding-bottom: 5px;
          font-size: 26px;
          font-weight: 700;
          font-family: @rajdhani;
        }

        p {
          padding-bottom: 5px;

          font-family: @montserrat;
          font-size: 13px;
          font-weight: 700;
          text-transform: uppercase;
        }
      }

      .contact {
        max-width: 450px;
        margin: 0 auto;
        text-align: center;

        a {
          text-decoration: none;

          img {
            padding-bottom: 20px;
            max-width: 25px;
          }

          p {
            font-family: @montserrat;
            font-size: 12px;
            margin-bottom: 20px;
            color: #ffffff;
          }
        }
      }

      .list {
        margin-top: 40px;

        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          text-align: center;
        }

        li {
          float: center;
        }

        li a {
          padding: 0 10px;
          display: inline-block;
          color: #ffffff;
          font-family: @montserrat;
          font-size: 14px;
        }
      }
    }
  }
}

section.footer {
  background-color: #0b2547;

  p {
    font-family: @montserrat;
    font-size: 12px;
    max-width: 620px;
    color: #adadad;
    margin: 0 auto;
    text-align: center;
  }
}

@media screen and (min-width: 450px) {
  header.head .menu-block-bottom ul li {
    padding: 0;
  }
}

@media screen and (max-width: 450px) {
  header.head .menu-block-bottom ul li a {
    font-size: 13px;
  }

  .prelative.container {
    // max-width: 320px;
    max-width: inherit;
    width: auto;
    padding: 0 20px;
    margin: 0;
  }
  .fcs-wrapper.outers_fcs_wrapper
    #myCarousel_home
    .carousel-inner
    .carousel-caption
    .bxsl_tx_fcs
    .content
    h3 {
    font-size: 16px;
  }
  section.home-sec-3 {
    .tengah {
      top: 20%;
    }
  }
}

@import 'subpage.less';
@import 'media_sub.less';