@montserrat: "Montserrat", sans-serif;
@roboto: "Roboto", sans-serif;

.hero-inside-pages{
	.picture_big{
		img{}
	}

	.caption-insides-top{
		position: absolute;
		
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: auto;

		z-index: 100;
		display: table;
		vertical-align: middle;
		text-align: center;
		padding: 5rem 0;

		background-color: rgba(11,37,71, 0.8);
		.inners{
			display: table-cell;
			vertical-align: middle; text-align: center;
			height: 100%;
			width: 100%;
			h1, p{
				display: block;
				margin: 0;
				padding: 0;
			}
			h1{
				font-size: 40px;
				font-weight: 700;
				color: #fff;
				line-height: 1;
				letter-spacing: 0.5px;
				font-family: @montserrat;
			}
			p{
				font-size: 16px;
				font-weight: 700;
				color: #fff;
				font-family: @roboto;
				text-transform: uppercase;
			}
		}
	}
	clear: both;
	position: relative;
}

.back-white{
	background-color: #fff;
}


.block_outer_breadcrumbs{
	ol.breadcrumb{
		li.breadcrumb-item{
			font-family: @montserrat; 
			font-size: 13px; font-weight: 400; color: #0b2547;
			text-transform: uppercase;
			a{
				font-family: @montserrat;
				font-size: 13px; font-weight: 400; color: #0b2547;
				text-transform: uppercase;
			}
		}
		margin: 0; background: none;
		background-color: transparent;
		padding: 0;
	}
	.backs-page{
		a{
			font-family: @montserrat;
			font-size: 13px; font-weight: 400; color: #0b2547;
			text-transform: uppercase;
		}
	}
}
// end breadcrumb

section.backs_blue.insides_topback1{
	min-height: 200px; height: auto;
	width: 100%;
	background-color: #0a5bab;
	.inners{
	}
	.tops_content_about.content-text{
		p{
			font-size: 600px; font-size: 22px;
			color: #fff;
		}
	}
	clear: both;
}

section.back-grey.insides_topback3{
	min-height: 200px; height: auto;
	width: 100%;
	background-color: #e6e9ec;
	.inners{
	}

	.lists_pillar_about{
		.items{
			.pict{
				img{}
			}
			.info{
				h5{
					margin: 0;
					font-family: @montserrat;
					font-size: 20px; font-weight: 700; color: #0b2547;
				}
				p{
					font-size: 15px; font-weight: 300; color: #505050; line-height: 1.45;
				}
				clear: both;
			}
		}
	}
	clear: both;
}

section.back-blues.insides_topback4{
	min-height: 200px; height: auto;
	width: 100%;
	background-color: #0b2547;
	.inners.content-text{
		.borders-r{
			border-right: 2px solid rgba(255,255,255, 0.3);
		}

		h3, h4{
			color: #fff;
		}
		h4.titles_visi{
			font-size: 48px;
			font-weight: 300; color: #fff;
		}
		p{
			color: #c1c1c1;
		}
		.texts{
			padding: 1.5rem;
		}
	}
	clear: both;
}

// quality page
.insides_topback1_qualitys{
	.tops_content_quality{
		h2{
			small{
				strong, b{
					font-weight: 500;
				}
				font-size: 35px; 
				color: #0557a0;
			}
			font-family: @montserrat;
			font-size: 50px; font-weight: 300; color: #0557a0;
			line-height: 1;
			display: block;
		}
		p{
			// margin-bottom: 0;
		}
		max-width: 875px;
	}
	background-color: #e0e0e0;
	clear: both;
}

section.back-white.backs_quality_sec2{
	.lists_items_pil_quality{
		.items{
			.pict{}
			.info{
				padding-top: 1.5rem;
				h5{
					display: block;
					margin: 0;
					font-size: 20px; font-weight: 700; color: #1d326d;
					margin-bottom: 0.25rem;
				}
				p{
					font-size: 15px; font-weight: 300; color: #505050;
				}
			}
		}
	}
	background:#f3f3f3 url('../images/back-midles-quality.jpg') no-repeat;
	min-height: 250px; height: auto; width: 100%;
	background-color: transparent;
}

// contact page

.lines-grey{
	background-color: #b7b7b7;
	height: 1px; width: 100%;
}

.address_text{
	h5, p{
		display: block;
		margin: 0; padding: 0;
	}
	h5{
		font-family: @montserrat; font-size: 18px; font-weight: 700; color: #0d223d;
		letter-spacing: 0.5px;
	}
	.texts{
		h5{
			margin-bottom: 0.85rem;
		}
		p{
			font-size: 14px; font-weight: 400; color: #6f6f6f;	
			line-height: 1.6;
		}
		padding: 0.5rem;
	}
	.borders-r{
		border-right: 1px solid #b7b7b7;
	}

	ul{
		li{
			i.fa{
				font-size: 30px;
			}
			i.fa-whatsapp{ color: #2fd24a; }
			i.fa-envelope{ color: #0557a0; }
			i.fa-phone{ color: #0557a0;  }
			p{
				font-size: 12px; font-weight: 700; color: #6f6f6f;
			}
			a{
				text-decoration: none; color: #6f6f6f;
			}
			padding: 0.35rem 1.7rem;
			border-right: 1px solid #b7b7b7;
			margin-right: 0;
		}
		li:last-child{
			border-right: 0;
		}
		margin: 0;
	}
	clear: both;
}

.lists_ban_items_agent{

	.items{
		.pict{
			img{}
		}
		.infos{
			h6, p{
				display: block;
				margin: 0; padding: 0; line-height: 1.2;
			}
			padding-top: 1.2rem;
			h6{
				font-family: @montserrat;
				font-size: 20px; font-weight: 700;  color: #1d326d;
				margin-bottom: 0.4rem;
			}
			p{
				font-size: 15px; font-weight: 300; color: #505050; line-height: 1.45;
			}
		}
		text-align: center;
	}
	clear: both;
}

.lists_prdcat_def{
	.items{
		.info{
			h3{
				display: block;
				margin: 0; padding: 0;
				line-height: 1.2;

				font-family: @montserrat;
				font-size: 19px; font-weight: 700; color: #1d326d;
			}
			a:hover,
			a:focus{
				text-decoration: none;
				 color: #0E1E4A;
			}
		}
	}
}
.lists_cat_prdDetails{
	ul{
		li{
			a{
				font-size: 15px; font-weight: 700; color: #1d326d;
			}
		}
		.list-inline-item:not(:last-child) {
		    padding-right: 0.8rem;
			margin-right: 0.8rem;
			border-right: 1px solid #1d326d;
		}
	}
}

.mod_products{
	table.table{
		thead{
			tr{
				th{
					font-family: @roboto;
					background-color: #0d223d;
					font-size: 17px; font-weight: 700; color: #fff;
					border-right: 1px solid #f3f3f3;
				}
			}
		}
		tbody{
			tr{
				td{
					font-family: @roboto;
					font-size: 14.5px; font-weight: 400;  color: #5c5c5c;
				}
			}
		}
	}
}

.content-text{
	h1, h2, h3, h4, h5, h6{
		display: block;
		margin: 0; padding: 0;
		line-height: 1.3;
		margin-bottom: 1.3rem;
		font-family: @montserrat;
	}
	h2{
		font-size: 50px;
		font-weight: 700;
		color: #fff;
	}
	h2.small_title{
		font-weight: 100;
		font-size: 50px;
		b,strong{
			font-weight: 300;
		}
		line-height: 1.1;
		color: #fff;
	}

	h3,
	h4{
		font-size: 28px;
		font-weight: 700;
		color: #0b2547;
		text-transform: inherit;
		margin-bottom: 1.5rem;
	}

	p{
		font-family: @roboto;
		font-size: 17px;
		font-weight: 300;
		color: #505050;
		line-height: 1.7;
		margin-bottom: 1.5rem;
		a{
			color: #505050;
			font-weight: 700;
			text-decoration: underline;
		}
		a:hover,
		a:focus{
			text-decoration: none;
			color: #6E6E6E;
		}
	}

	ol,
	ul{
		li{
			font-family: @roboto;
			font-size: 17px;
			font-weight: 300;
			color: #505050;
		}
		margin: 0;
	}

}

section.footers_top{
	.inner-footer{
		.lgo_footers{
			h4, p{
				display: block;
				margin: 0; padding: 0; line-height: 1.2;
			}
			h4{
				font-family: @rajdhani;
				font-size: 26px; font-weight: 900; color: #fff; text-transform: uppercase;
			}
			p{
				font-family: @montserrat;
				font-size: 13px; font-weight: 700; color: #fff; text-transform: uppercase;
			}
		}
		
		.menus_footer{
			ul{
				li{
					a{
						font-family: @montserrat;
						font-size: 14px; font-weight: 400; color: #fff; text-transform: uppercase;
						letter-spacing: 0.5px;
					}
				}
				margin: 0;
			}
		}
		clear: both;
	}
	min-height: 470px; height: auto; width: 100%;
	background: url('../images/backs_footer_insidesn_mb.jpg') no-repeat;
	background-size: cover; background-position: top center;
	clear: both;
}
.lists_socmed{
	ul{
		li{
			a{
				i.fa{
					font-size: 30px; color: #fff;
				}
				span{
					font-family: @montserrat;
					font-size: 12px; font-weight: 400; color: #fff;
				}
				line-height: 1.3;
			}
			margin: 0;
			margin-right: 0;
			padding: 0.5rem 1rem;
			border-right: 1px solid rgba(255,255,255, 0.3);
		}
		li:last-child{
			border-right: 0;
		}
	}
}

.backs_agent{
	background-color: #f3f3f3 !important;
}